In [12]:
name = "Amit"
price = 25

In [13]:
print("My name is {} and the price is {}".format(name, price))

My name is Amit and the price is 25

In [14]:
%time

CPU times: total: 0 ns
Wall time: 1.9 ms

In [15]:
print(f"My name is {name} and price is  {price}")

My name is Amit and price is  25

In [34]:
x = input("Enter a number ")
print(x,type(x))

y = int(input("Enter the 2nd number "))

4 <class 'str'>

In [ ]:


my_list = [10,20,30,40]
names = ["Amit" , "Sumit", "Mona"]
mixed = ["Amit",22, "Sumit", 0]

# my_list.append("Amit")

# names.remove("Amit")

# mixed.pop(2)

print(my_list)
print(names)
print(mixed)

# print(my_list[2])
# print(type(mixed))

# print(names[-1], names[-2])

[10, 20, 30, 40]
['Amit', 'Sumit', 'Mona']
['Amit', 22, 'Sumit', 0]

In [9]:
#list slcing
numbers = [2,4,2,5,6,7,6]

print(numbers[::2])
print(numbers[3:])
print(numbers[:-2])
print(numbers[::-1])
print(numbers[3::-2])

[2, 2, 6, 6]
[5, 6, 7, 6]
[2, 4, 2, 5, 6]
[6, 7, 6, 5, 2, 4, 2]
[5, 4]

In [18]:

print(*numbers)

for num in numbers:
    print(num, end=" ")

2 4 2 5 6 7 6
2 4 2 5 6 7 6

In [26]:
# squares = []
# for i in range(5):
#     squares.append(i*i)

# print(squares)


squares = [x*x for x in range(5)]
print(squares)

even_numbers = [x for x in range(50) if x%2 == 0]
print(even_numbers)

[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [35]:
cubes = [x*x*x for x in range(10)]
print(cubes)

names = ["Amit", "Arpit", "Sumit", "Varsha"]
# names = [name for name in names if name[0]=='A']
names = [n for n in names if n.startswith("A")]
print(names)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
['Amit', 'Arpit']

In [3]:
x = int(input("Enter a number "))

if x > 5 :
    print("Great")
elif x < 5 :
    print("Small")
else : 
    print("5")

Great

In [37]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [41]:
for i in range(10):
    if i == 2 : continue
    print(i)

0
1
3
4
5
6
7
8
9

In [46]:
fruits = ["apple", "asdas", "asda", "asferg"]
# persons = {'213','124','3456','456'}  #set
persons = ['213','124','3456','456'] #list

# for index,fruit in enumerate(fruits):
#     print(index,fruit)
    
    
for f,p in zip(fruits,persons):
    print(f,p)

apple 213
asdas 124
asda 3456
asferg 456

In [47]:
names = ["Amit", "Deepti", "Bhuwan"]
ages = [23, 24, 25]
time = [2,54,546]

for n, a,t in zip(names, ages,time):
    print(n, a,t)

Amit 23 2
Deepti 24 54
Bhuwan 25 546